```env
ENV=local

AUTH_POSTGRES_URL=postgres://auth_user:auth_password@localhost:5432/auth_db?sslmode=disable
URL_POSTGRES_URL=postgres://url_user:url_password@localhost:5433/url_db?sslmode=disable

AUTH_POSTGRES_PORT=5432
URL_POSTGRES_PORT=5433

AUTH_GRPC_PORT=50051
WEATHER_GRPC_PORT=50052
URL_GRPC_PORT=50053
URL_HTTP_PORT=8080

AUTH_GRPC_ADDRESS=localhost:50051

URL_PUBLIC_SCHEME=http
URL_PUBLIC_HOST=localhost
URL_PUBLIC_PORT=8080

JWT_SECRET=change-me
JWT_ISSUER=auth-service

ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL=24h
```
